{% extends "core/taste_dna/registration/base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block title %}ResetPasswordDone{% endblock %}


{% block content %}
    <div id="login">
        <div class="container">

            <div class="middle-box text-center loginscreen animated fadeInDown">

                <div class="login-logo">
                    <img src="{% static 'core/img/taste_dna.png' %}" class="animated fadeInDown"/>
                </div>
                <div class="pageContent">
                    <div class="pageContentLeft">
                        <p style="font-size: 16px">
                            Password reset request was sent successfully.
                            Please check your email to reset password.
                        </p>
                            <a href="{% url 'auth:auth_login' %}">
                                <button type="button" class="btn btn-primary block full-width m-b">Login</button>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}

{% endblock %}

