{% extends "core/taste_dna/registration/base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block title %}ResetPassword{% endblock %}


{% block content %}
    <div id="login">
        <div class="container">

            <div class="middle-box text-center loginscreen animated fadeInDown">

                <div class="login-logo">
                    <img src="{% static 'core/img/taste_dna.png' %}" class="animated fadeInDown"/>
                </div>
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                {{ error }}
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="pageContent">
                    <div class="pageContentLeft">
                        {% if form %}
                            <h2 style="font-size: 24px">Reset your password</h2>
                            <form class="m-t" role="form"
                                  accept-charset="UTF-8" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.new_password1|attr:"required"|attr:"autofocus"|attr:"placeholder:Enter your new password"|attr:"class:form-control" }}

                            </div>
                            <div class="form-group">
                                {{ form.new_password2|attr:"required"|attr:"autofocus"|attr:"placeholder:confirm password"|attr:"class:form-control" }}
                            </div>

                            <button type="submit" class="btn btn-primary block full-width m-b">Reset Password</button>
                        {% else %}
                            <h2 style="margin-bottom: 20px">Link expired please generate a new link.</h2>
                            <a href="{% url 'user:index' %}">
                                <button type="submit" class="btn btn-primary block full-width m-b">Home</button>
                            </a>
                        {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}

{% endblock %}

