{% extends "core/taste_dna/registration/base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block title %}ResetPassword{% endblock %}


{% block content %}
    <div id="login">
        <div class="container">

            <div class="middle-box text-center loginscreen animated fadeInDown">

                <div class="login-logo">
                    <img src="{% static 'core/img/taste_dna.png' %}" class="animated fadeInDown"/>
                </div>
                <div class="pageContent">
                    <div class="pageContentLeft">
                        {% if form %}
                            <h2 style="font-size: 24px">Please enter your e-mail address</h2>
                            <form class="m-t" role="form" action="{% url 'auth:auth_password_reset' %}?next={{ next }}"
                                  accept-charset="UTF-8" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form.email|attr:"required"|attr:"autofocus"|attr:"placeholder:Enter your email"|attr:"class:form-control" }}
                                </div>

                                <button type="submit" class="btn btn-primary block full-width m-b">Reset Password
                                </button>
                            </form>
                        {% else %}
                            <h2>{{ error_message }}</h2>
                            <a href="{% url 'auth:auth_login' %}">
                                <button type="button" class="btn btn-primary block full-width m-b">Home</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}

{% endblock %}

