{% load static %} 
{% load admin_extras %}

<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <a href="{% url 'user:index' %}">
          <img
            class="nav-image"
            src="{% static 'core/img/taste_dna.png' %}"
            width="100%"
          />
        </a>
        <div class="logo-element">UC</div>
      </li>
      {% if perms.core.add_user or perms.core.view_user or perms.core.change_user or perms.core.delete_user or request.user.is_superuser %}
                <li {% if 'users/' in request.path %}class="active" {% endif %}>
                    <a href="{% url 'user:user-list' %}">
                        <i class="fa fa-user fa-fw fa-2x"></i>
                        <span class="nav-label">Users</span>
                    </a>
                </li>
      {% endif %}

      {% if perms.core.add_user or perms.core.view_user or perms.core.change_user or perms.core.delete_user or request.user.is_superuser %}
                <li {% if 'employees/' in request.path %}class="active" {% endif %}>
                    <a href="{% url 'employee:employee-list' %}">
                        <i class="fa fa-user fa-fw fa-2x"></i>
                        <span class="nav-label">Employee</span>
                    </a>
                </li>
      {% endif %}
    </ul>
  </div>
</nav>
