{% extends 'core/change_list.html' %} 
{% load static %} 
{% load admin_extras %}
{% load misc_filters %} 
{% load i18n %} 
{% block page_content %} 
{% csrf_token %} 
{% include "core/includes/list_header_card.html" with title="Employee Details" subtitle="employee and assign with individual or group permissions." show_button=True %}

<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="table-responsive">
			<table
				class="table table-striped table-bordered table-hover"
				id="{{ opts.model_name }}-table"
			>
				<thead>
					<tr>
						<th>Name</th>
						<th>Employee ID</th>
						<th>Phone Number</th>
						<th>Address</th>
						<th>Status</th>
						<th>working</th>
						<th>Department</th>
					</tr>
				</thead>
		
				<tbody>
					<tr>
						<td>{{ object.name|upper }}</td>
						<td>{{ object.address }}</td>
						<td>{{ object.phone_number }}</td>
						<td>{{ object.address }}</td>
						<td>{% show_check object.is_active %}</td>
						<td>{% show_check object.working %}</td>
						<td>{{ object.department }}</td>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %} {% block js %} {{ block.super }}

{% endblock %}
